$color-primary: #EE3737;
$color-primary-ligth: #D5F2FF;
$color-secondary: #FDA828;

$color-danger: #D52E2D;

$color-bc-accent: #EBEBEB;
$color-black: #000;
$color-text: #041E2A;
$color-white: #fff;

$color-text-light: rgb(88, 88, 88);

// Shadows
$shadow-item: #00000029;