.select {
    &__container {
        box-shadow: 0px 8px 15px #00000021;
        border: 1px solid #fefefe;
        justify-content: center;
        background: transparent;
        display: flex;
        flex: 0 0 20%;
        height: 4.5rem;
        align-items: center;
        padding: 0.5rem;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;


        @include respond(phone) {
            flex: 1;
        }

        & select {
            width: 100%;
          
            font-size: 1.5rem;
            border: none;
        }

        select[multiple] {
            padding-right: 0;
            white-space: normal;
           
        }

        & select:focus {
            outline: none;
        }
    }
}
